body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #000;
}
#gameBoard {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: #000;
	border-color: white;
	border-style: solid;
}
#gameover {
	text-align: center;
}
#gameover input[type=button]{
	border-radius: 10px;
	padding: 10px;
	background-color: white;
	font-size: 24px;
}
#gameover input[type=button]:hover {
	color: red;
}
#gameover p, h1 {
	font-size: 36px;
	color: white;
}